paths:
  uploads: assets/image
  static: /

collections_config:
  posts:
    path: assets/content
    name: Góc Tản Mạn
    icon: auto_stories
    extension: json
    create:
      path: "assets/content/{slug}.json"
    filter:
      base:
        category: tan-man
    schemas:
      default:
        path: "assets/content/template-tan-man.json"

  phim:
    path: assets/content
    name: Review Phim
    icon: movie
    extension: json
    create:
      path: "assets/content/{slug}.json"
    filter:
      base:
        category: phim
    schemas:
      default:
        path: "assets/content/template-phim.json"

_inputs:
  title:
    type: text
  category:
    type: select
    options:
      values: [tan-man, phim, thanh-nghi]
  image:
    type: image
  body:
    type: markdown