paths:
  uploads: assets/image
  static: /

collections_config:
  # Chỉ giữ lại mục Góc Tản Mạn
  posts:
    path: assets/content
    name: Góc Tản Mạn
    icon: auto_stories
    extension: json
    output: false
    # Cách đặt tên file khi nhấn nút ADD
    create:
      path: "assets/content/{slug}.json"
    # Chỉ hiển thị những bài có nhãn tan-man
    filter:
      base:
        category: tan-man
    # Đường dẫn file mẫu (Lưu ý: Không có dấu / ở đầu)
    schemas:
      default:
        path: assets/content/template-tan-man.json

# Cấu hình ô nhập liệu để tránh lỗi Missing Key
_inputs:
  title:
    type: text
  date:
    type: date
  category:
    type: select
    options:
      values:
        - tan-man
        - phim
  image:
    type: image
  description:
    type: textarea
  body:
    type: markdown