paths:
  uploads: assets/image
  static: /

collections_config:
  # 1. Mục chỉnh sửa Menu, Fanpage, Cộng đồng
  settings:
    path: assets/content/settings.json
    name: Cấu hình Website
    icon: settings
    parse_601: true

  # 2. Mục viết bài Góc Tản Mạn
  posts:
    path: assets/content
    name: Góc Tản Mạn
    icon: auto_stories
    extension: json
    output: false
    create:
      path: "assets/content/{slug}.json"
    filter:
      base:
        category: tan-man
    schemas:
      default:
        path: assets/content/template-tan-man.json
    # Tự động hiển thị ảnh bài viết trong danh sách cho đẹp
    config:
      card:
        title: title
        image: image
        subtext: category

_inputs:
  title:
    type: text
  date:
    type: date
  category:
    type: select
    options:
      values:
        - tan-man
        - phim
  image:
    type: image
  description:
    type: textarea
  body:
    type: markdown