backend:
  name: github
  repo: Isa2301-os/blog-nguoi-am-phu
  branch: main
  base_url: https://decap-cms-oauth-node.vercel.app
  auth_endpoint: /auth

media_folder: "assets/image"
public_folder: "assets/image"

collections:
  - name: "settings"
    label: "Cấu hình Website"
    delete: false
    editor:
      preview: false
    files:
      - name: "layout"
        label: "Ảnh Banner & Menu"
        file: "assets/content/settings.json"
        fields:
          - { label: "Banner Trang Chủ", name: "home_banner", widget: "image" }
          - label: "Danh sách Menu"
            name: "menu_tree"
            widget: "list"
            fields:
              - { label: "Tên Mục Chính", name: "parent", widget: "string" }
              - label: "Các Trang Con"
                name: "children"
                widget: "list"
                fields:
                  - { label: "Tên Trang", name: "name", widget: "string" }
                  - { label: "Link", name: "link", widget: "string" }

  - name: "posts"
    label: "Tất cả bài viết"
    folder: "assets/content" 
    create: true
    extension: "json"
    format: "json"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Tiêu đề", name: "title", widget: "string" }
      - { label: "Ảnh đại diện", name: "image", widget: "image" }
      - { 
          label: "Chuyên mục", 
          name: "category", 
          widget: "select", 
          options: [
            { label: "Góc Tản Mạn", value: "tan-man" },
            { label: "Thành Nghị", value: "thanh-nghi" },
            { label: "Phim", value: "phim" },
            { label: "Tạp chí", value: "tap-chi" },
            { label: "Show", value: "show" }
          ] 
        }
      - { label: "Nội dung", name: "body", widget: "markdown" }